/*Default Component Styling*
*
*
*
*/

/*Text Classes*/
#accent{
  color: var(--accent);
} #underlined {
  border-bottom: 1px solid var(--foreground);
} #text {
  color: #ebebeb;
  text-decoration-color: var(--foreground);
} 

/*MainTitle Component*/
h1.mainTitle {
  font-family: var(--font-anton);
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-text-stroke-color: var(--background);
  -webkit-text-stroke-width: 1px;
} 
/*Subtitle Component*/
h3.subTitle{
  font-family: var(--font-goldman);
  font-weight: 400;
  -webkit-text-stroke-color: var(--background);
  -webkit-text-stroke-width: 1px;
}
/*Description Component*/
p.description{
  font-family: var(--font-iceland);
}
/*Hyperlink Component*/
div.hyperlink a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  color: var(--hyperlink);
  text-decoration: none;
}
a.hyperlinkText {
  font-family: var(--font-iceland);
  width: fit-content;
  cursor: pointer;
} a.hyperlink:hover {
  filter: opacity(.1);
  transition: all .1s;
}
/*MainButton Component*/
button.mainButton{
  border: 1px transparent;
  border-radius: 8px;
  padding: 8px;
  font-family: var(--font-goldman);
  font-size: 24px;
  box-shadow: 1px 0px 1px 0px var(--background);
  background-color: var(--accent);
  cursor: pointer;
} button.mainButton:hover {
  opacity: .8;
  transition: all .1s;
}
/*Navbar Component*/
.navbar {
  z-index: 2;
  background-color: transparent;
  backdrop-filter: invert(.1);
  position: sticky;
  width: 100%;
  top: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 5px 5px;
} .navbar .navbarSection {
  min-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px
} .navbarSection:first-of-type {
  justify-content: flex-start;
} .navbarSection:last-of-type {
  justify-content: flex-end;
} .navbarSection .hyperlink{
  width: 100%;
  color: #ebebeb;
} .navbar .mainButton#icon{
  height: 56px;
  width: 56px;
  justify-content: center;
  align-items: center;
}
/*Card Component*/
.card {
  border: 1px solid var(--foreground);
  width: fit-content;
  max-width: 1000px;
  padding: 5px 15px;
  border-radius: 10px;
}
/*CardDeck Component*/
.cardDeck {
  border: 1px solid var(--foreground);
  border-radius: 10px;
  width: fit-content;
  padding: 15px;
} .cardDeck .card{
  width: 95%;
  border: none;
} .cardDeck h1 {
  text-align: center;
}
/*Carousel Component*/
div .carousel{
  border: inset 1px var(--foreground);
  border-radius: 10px;
  padding: 20px;
} .carousel .modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
} .modalContainer .subtitle{
  margin: 5px;
  margin-bottom: 15px;
}.modalContainer .modalFocus {
  text-align: center;
  align-self: center;
  align-items: center;
} .modalFocus .description{
  margin: 20px auto;
} .modalFocus .modalImage {
  padding: 5px;
  border-radius: 5px;
}
.carouselButton {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 25px 0px 0px;
} .carouselButton .changeButton{ 
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  border: inset 1px var(--foreground);
  cursor: pointer;
} .carouselButton .changeButton:hover{
    backdrop-filter: opacity(.1);
    transition: all;
  }
@media (prefers-color-scheme: dark) {
  .carouselButton .changeButton:hover{
    backdrop-filter: invert(.1);
    transition: all .1s;
  }
}

/*ContactForm Component*/
form.contactForm {
  border: inset 1px var(--foreground);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  width: 500px;
  border-radius: 10px;
} .contactForm div > .subtitle {
  padding: 10px;
} .contactForm input {
  background-color: var(--background);
  filter: invert(.1);
  border: inset 1px var(--foreground);
  min-height: 40px;
  min-width: 75%;
  width: fit-content;
  max-width: 100%;
  padding: 10px;
} .contactForm textarea {
  background-color: var(--background);
  filter: invert(.1);
  border: inset 1px var(--foreground);
  resize: none;
  min-height: 150px;
  width: 100%;
  padding: 10px;
} .contactForm .submitButton {
  background-color: var(--accent);
  font-family: var(--font-goldman);
  filter: opacity(1);
  border: 1px transparent;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  padding: 8px 150px;
  margin: 10px auto;
  margin-top: 10px;
  cursor: pointer;
} .contactForm .submitButton:hover {
  filter: opacity(.9);
  border: 1px var(--background);
  transition: all .1s;
}
/*IconBelt Component*/
.iconBelt {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/*Footer Component*/
.footer {
  border-top: 1px solid var(--foreground);
  width: 100%;
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
} .footer .footerText {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15%;
} .footerText #left {
  width: fit-content;
} .footerText #right {
  width: fit-content;
} .footer .iconBelt {
  margin: 25px 0px;
  padding: 25px 0px;
}
