/*GLOBAL HTML/Body (MOVE TO GLOBAL CSS FILE)*/
:root {
  --background: #ebebeb;
  --foreground: #000000;
  --accent: #470FF4;
  --hyperlink: #26C485;
  --backup1: #D0ADF0;
}
/*Initial media queries*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ebebeb;
  }
  html {
    color-scheme: dark;
  }
}
html {
  max-width: 100vw;
  scroll-behavior: smooth;
  background: var(--background);
}
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  color: var(--foreground);
  backdrop-filter: invert(.05);
  font-family: var(--font-goldman), var(--font-anton), var(--font-iceland);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}




/*Default Component Styling*
*
*
*
*/
/*Component Type Definitions*/
#accent{
  color: var(--accent);
} #underlined {
  border-bottom: 1px solid var(--foreground);
} #text {
  color: #ebebeb;
} @media (prefers-color-scheme: light) {
  #invertable {
    filter:invert(1)
  }
}
