
.main {
  backdrop-filter: invert(.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 15px auto;
  min-height: 100vh;
  max-width: 1500px;
  /*border: 2px solid blue;*/
}

div.section{
  background: var(--background);
  width: 100%;
  height: fit-content;
  padding: 5px;
  border-radius: 10px;
  /*border: 1px inset red;*/
} 

#navSection.section{
  padding: 1px;
  height: fit-content;
} 

#heroSection.section{
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex-wrap: wrap;
} #heroTitle{
  border-bottom: 1px solid var(--foreground);
  justify-self: flex-start;
  margin: 0px;
  margin-top: 30px;
} #heroImg{
  display: flexbox;
} #heroInfo{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 30px;
  align-items: center;
} #heroInfo .card {
  width: 90%;
}


#projectSection.section{
  height: 350px;
} #contactSection.section{
  height: 350px;
} #referenceSection.section{
  height: 200px;
} #teamworkSection.section{
  height: 250px;
} #creditSection.section{
  height: 400px;
} #footerSection.section{
  height: fit-content;
}