
.main {
  backdrop-filter: invert(.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 15px auto;
  min-height: 100vh;
  max-width: 1500px;
  /*border: 2px solid blue;*/
}

div.section{
  background: var(--background);
  max-width: 100%;
  height: fit-content;
  padding: 5px;
  border-radius: 10px;
  /*border: 1px inset red;*/
} 

#navSection.section{
  padding: 1px;
  height: fit-content;
} 

#heroSection.section{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex-wrap: wrap;
} #heroTitle{
  border-bottom: 1px solid var(--foreground);
  justify-self: flex-start;
  margin: 0px;
  margin-top: 30px;
} #heroImg{
  display: flexbox;
} #heroInfo{
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 0px;
  border-top: 1px solid var(--foreground);
  padding: 25px;
  padding-bottom: 0;
  gap: 15px;
  align-items: center;
} #heroInfo #infoCard {
  width: min(750px, 90%)
} 

#projectSection.section{
  height: fit-content;
  width: 100%;
  padding: 10px;
} #projectTitle {
  padding: 0px 15px;
  border-bottom: 1px solid var(--foreground);
} #projectSection #projectCarousel {
  border: none;
}

#creditSection.section{
  height: fit-content;
  padding-bottom: 20px;
} #creditTitle {
  padding: 0px 15px;
  margin: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid var(--foreground);
} #creditSection #creditInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
  flex-wrap: wrap;
} #creditInfo.certContainer {
  gap: 10px;
} #creditInfo.certContainer > #creditCard{
  width: min(650px, 90%);
  min-width: 300px;
} #creditInfo #creditCard {
  width: min(450px, 75%);
  min-width: 300px;
  height: fit-content;
} #creditCard > #creditImg{
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  border-bottom: 1px solid var(--foreground);
  padding-bottom: 15px;
  margin-bottom: 25px;
} #creditImg img {
  align-self: center;
  justify-self: center;
}
#certification{
  display: flex;
  flex-direction: column;
  gap: 10px;
} #creditCard .expandButton {
  width: 100%;
  margin-top: 15px;
  padding: 5px;
  border: none;
  cursor: pointer;
} #creditImg #creditDescription{
  height: 125px;
  align-content: center;
}

#contactSection.section{
  height: fit-content;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
} #contactTitle{
  padding: 0px 15px;
  margin: 10px;
  width: min(500px, 100%);
  border-bottom: 1px solid var(--foreground);
} #contactForm {
  margin-bottom: 20px;
  width: min(450px, 75%);
  min-width: 350px;
}
#footerSection.section{
  height: fit-content;
}