
.main {
  backdrop-filter: invert(.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 15px auto;
  min-height: 100vh;
  max-width: 1500px;
  /*border: 2px solid blue;*/
}

div.section{
  background: var(--background);
  max-width: 100%;
  height: fit-content;
  padding: 5px;
  border-radius: 10px;
  /*border: 1px inset red;*/
} 

#navSection.section{
  padding: 1px;
  height: fit-content;
} 

#heroSection.section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex-wrap: wrap;
} #heroTitle{
  border-bottom: 1px solid var(--foreground);
  justify-self: flex-start;
  margin: 0px;
  margin-top: 30px;
} #heroImg{
  display: flexbox;
} #heroInfo{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 30px;
  align-items: center;
} #heroInfo .card {
  width: 90%;
}

#projectSection.section{
  height: fit-content;
  width: 100%;
  padding: 10px;
} #projectTitle {
  padding: 0px 15px;
  margin: 10px;
  border-bottom: 1px solid var(--foreground);
}



#creditSection.section{
  height: fit-content;
} #creditTitle {
  padding: 0px 15px;
  margin: 10px;
  border-bottom: 1px solid var(--foreground);
} #creditSection #creditInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px 3%;
} #creditInfo #creditCard {
  width: 30% ;
  min-width: 350px;
}
#contactSection.section{
  height: fit-content;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
} #contactTitle{
  padding: 0px 15px;
  margin: 10px;
  width: min(500px, 100%);
  border-bottom: 1px solid var(--foreground);
} #contactForm {
  margin-bottom: 20px;
  width: min(500px, 100%);
}
#footerSection.section{
  height: fit-content;
}